[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
request = "*"
pyyaml = "*"
codecov = "*"
paramiko = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov = "*"
